<body>

    <div class="wrapper rounded6" id="templateContainer">
        <h1 class="masthead">Test Chimp Form</h1>

        <div id="templateBody" class="bodyContent rounded6">
            <h2>Subscription Confirmed
            </h2>
            <div>
                <p>Your subscription to our list has been confirmed.</p>
                <p>Thank you <%= @email_address %> for subscribing!</p>
            </div>
            <a class="button" href="https://mailchimp-development.herokuapp.com/">continue to our website »</a>
            <span class="or">or</span> 
            <a class="button" href="https://facebook.us15.list-manage.com/profile/?u=af108e1dd850eb3491e738f62&amp;id=d4077cce58&amp;e=24bc141c6d">manage your preferences</a>
        </div>
    </div>     
    <div class="poweredWrapper">
        <span class="poweredBy"><a href="http://www.mailchimp.com/monkey-rewards/?utm_source=freemium_newsletter&amp;utm_medium=email&amp;utm_campaign=monkey_rewards&amp;aid=af108e1dd850eb3491e738f62&amp;afl=1"><img src="https://cdn-images.mailchimp.com/monkey_rewards/MC_MonkeyReward_15.png" border="0" alt="Email Marketing Powered by MailChimp" title="MailChimp Email Marketing" width="139" height="54"></a></span>
    </div>
</body>